/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #90caf9, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;


    .container {
        max-width: 600px;
        margin: 0 auto;
        min-height: 100%;
        background: white;

        header {
            background: #d2edf4;
            background-image: linear-gradient(to bottom, #90caf9, #e1e5f0 100%);
            padding: 20px 15px 15px 15px;
            position: relative;
            margin-bottom: 20px;

            #login-buttons {
                a {
                    text-decoration: none;
                }
            }
        }

        h1 {
            font-size: 1.5em;
            margin: 0;
            margin-bottom: 10px;
            display: inline-block;
            margin-right: 1em;
        }

        .btn {
            margin-bottom: 20px;
        }

        .btn-group {
            .btn {
                margin: 0;
            }
        }

        .tab-content {
            .panel {
                border-color: #ddd;
                border-radius: 0;
                border-top: 0;
            }
        }
    }
}
