<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ad in $ctrl.ads">
        <td>{{ad.name}}</td>
        <td>{{ad.price | currency}}</td>
        <td width="20%"><input class="form-control" type="number" value="0" min="0" ng-model="ad.amount"></td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary" ng-click="$ctrl.checkout($ctrl.ads)">Checkout</button>
<div ng-show="$ctrl.notification.message" class="alert" ng-class="$ctrl.notification.error ? 'alert-danger': 'alert-success'" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{$ctrl.notification.message}}
</div>