<div class="panel">
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th rowspan="2">Customer</th>
                <th rowspan="2">Ads</th>
                <th>Condition</th>
                <th colspan="2">Promotion</th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th>Buy</th>
                <th>Free</th>
                <th>Discount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rule in $ctrl.rules">
                <td>{{rule.customer}}</td>
                <td>{{rule.ads}}</td>
                <td>{{rule.condition.buy}}</td>
                <td>{{rule.promo.free}}</td>
                <td>{{rule.promo.discount | currency}}</td>
                <td width="66px">
                    <div class="btn-group" role="group" aria-label="...">
                        <button title="Edit rule (not implemented)" type="button" class="btn btn-xs btn-warning" aria-label="Edit">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-xs btn-danger" aria-label="Delete"
                            mwl-confirm
                            title="Delete rule"
                            message="Are you sure?"
                            confirm-text="Yesh!"
                            cancel-text="Staph!"
                            placement="left"
                            on-confirm="$ctrl.deleteRule(rule._id)"
                            on-cancel=""
                            confirm-button-type="danger"
                            cancel-button-type="default"
                        >
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>