<div class="panel">
    <div class="panel-body">
        <form ng-submit="$ctrl.create($ctrl.formData)">
            <div class="form-group">
                <label for="cus">Customer</label>
                <select id="cus" ng-model="$ctrl.formData.customer" class="form-control">
                    <option ng-repeat="cus in $ctrl.customers" value="{{cus.username}}">{{cus.username}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ads">Ads</label>
                <select id="ads" ng-model="$ctrl.formData.ads" class="form-control">
                    <option ng-repeat="ad in $ctrl.ads" value="{{ad.code}}">{{ad.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="buy">Condition - Buy</label>
                <input id="buy" type="number" class="form-control" placeholder="0" min="0" ng-model="$ctrl.formData.condition.buy">
            </div>
            <div class="form-group">
                <label for="free">Promo - Free Item</label>
                <input id="free" type="number" class="form-control" placeholder="0" min="0" ng-model="$ctrl.formData.promo.free">
            </div>
            <div class="form-group">
                <label for="disc">Promo - Price Discount ($)</label>
                <input id="disc" type="number" class="form-control" placeholder="0" min="0" ng-model="$ctrl.formData.promo.discount">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div ng-show="$ctrl.notification.message" class="alert" ng-class="$ctrl.notification.error ? 'alert-danger': 'alert-success'" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{$ctrl.notification.message}}
            </div>
        </form>
    </div>
</div>