<div ng-show="$ctrl.history.length > 0" class="panel panel-info">
    <div ng-show="!$ctrl.isAdmin" class="panel-heading">Order History</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="h in $ctrl.history">
            Order ID #{{h._id}}
            <span class="pull-right">{{h.createdAt | date:'dd/MM/yyyy @ h:mma'}}</span>
            <p ng-show="$ctrl.isAdmin">Customer : {{h.customer}}</p>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Sub Total</th>
                </tr>
                </tbody>
                <tbody>
                <tr ng-repeat="item in h.items">
                    <td>{{item.name}}</td>
                    <td align="right">
                        {{item.price | currency}}
                        <small ng-show="item.promo.discount > 0"><br/>(-{{item.promo.discount | currency}})</small>
                    </td>
                    <td align="right">
                        {{item.amount}}
                        <small ng-show="item.promo.free > 0"><br/>(+{{item.promo.free}} free)</small>
                    </td>
                    <td align="right">{{item.subTotal | currency}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" align="right">TOTAL</td>
                    <td align="right">{{h.total | currency}}</td>
                </tr>
                </tfoot>
            </table>
        </li>
    </ul>
</div>