<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#order" aria-controls="order" role="tab" data-toggle="tab">Order History</a></li>
        <li role="presentation"><a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Rules</a></li>
        <li role="presentation"><a href="#createRule" aria-controls="createRule" role="tab" data-toggle="tab">Create Rule</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="order">
            <order-history></order-history>
        </div>
        <div role="tabpanel" class="tab-pane" id="rules">
            <rules></rules>
        </div>
        <div role="tabpanel" class="tab-pane" id="createRule">
            <rule-create></rule-create>
        </div>
    </div>
</div>