<header>
    <h1>Ads Checkout</h1>
    <login-buttons></login-buttons>
</header>

<div ng-if="$ctrl.currentUser">
    <admin ng-show="$ctrl.isAdmin"></admin>
    <customer ng-show="!$ctrl.isAdmin"></customer>
</div>
<div ng-if="!$ctrl.currentUser">
<pre>
Predefined Customer Account
    user : unilever | apple | nike | ford | regular
    pass : password

You can register new customer on Sign in > Create account

Sign in as a customer if you want to :
    - checkout ads
    - see customer order history

------------------------------------------------------------

Admin Account:
    user : admin
    pass : admin

Sign in as an admin if you want to :
    - see all customer order history
    - price rules list
    - create new rule
</pre>
</div>